.modal {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  &-card {
    background-color: $eos-white;
    left: 50%;
    max-width: 450px;
    padding-bottom: 2em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal-card-vote {
  background-color: $eos-white;
  margin: auto;
  max-height: 70vh;
  overflow-y: scroll;
  position: relative;
}

.modal-content {
  padding: 24px;
}

.close-icon {
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-header;
  height: 25px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0.5em;
  width: 25px;
}
